# üìä Reposit√≥rio de Consultas SQL para Analistas de Dados: **Departamento ESG - Social**

ESG √© um **conjunto de padr√µes e boas pr√°ticas que visa definir se uma empresa √© socialmente consciente, sustent√°vel e corretamente gerenciada**. Trata-se de uma forma de medir o desempenho de sustentabilidade de uma organiza√ß√£o. A sigla, em ingl√™s, re√∫ne os tr√™s pilares desse movimento:
-	Environmental (meio ambiente)
-	Social
-	Governance (governan√ßa)

Quando falamos dos crit√©rios sociais, abrimos um leque muito grande de quest√µes a serem consideradas. Para os investidores, por exemplo, √© essencial entender como a empresa preza pelo bem-estar dos funcion√°rios.

Entre os pontos analisados pelos investidores e pelos gestores de fundos de investimentos, incluem-se:
- Qual a taxa de turnover?
- H√° algum tipo de plano de previd√™ncia para os funcion√°rios?
- Qual o n√≠vel de envolvimento dos funcion√°rios com a gest√£o da empresa?
- Quais os benef√≠cios e vantagens oferecidos aos funcion√°rios, al√©m do sal√°rio? - O sal√°rio do funcion√°rio √© justo ‚Äî em rela√ß√£o aos praticados dentro da empresa e tamb√©m em rela√ß√£o ao mercado?

No eixo Social encontra-se tamb√©m a rela√ß√£o com fornecedores. Por isso, √© importante avali√°-los do ponto de vista dos crit√©rios em ESG em rela√ß√£o a trabalho infantil, trabalho escravo, atua√ß√£o em √°reas desmatadas ou queimadas, e promover a transpar√™ncia na rela√ß√£o.

Coment√°rios sobre o Projeto:
- üîç Contribui√ß√µes: Estamos abertos a contribui√ß√µes da comunidade de analistas de dados! Se voc√™ tiver consultas SQL √∫teis que gostaria de compartilhar ou sugest√µes para melhorias, sinta-se √† vontade para enviar um pull request. Juntos, podemos expandir e aprimorar este reposit√≥rio para beneficiar toda a comunidade de an√°lise de dados.
- üéØ Sinta-se √† vontade para explorar, utilizar e contribuir para este reposit√≥rio, e que ele possa ser uma ferramenta valiosa em sua jornada como analista de dados!

# üìå **Taxa de Rotatividade de Funcion√°rios (Turnover Rate): Taxa de rotatividade anual de funcion√°rios**

**Descri√ß√£o**:
Este KPI mede a porcentagem de funcion√°rios que deixam a empresa em um ano em rela√ß√£o ao n√∫mero total de funcion√°rios. A taxa de rotatividade √© um indicador importante de satisfa√ß√£o dos funcion√°rios, ambiente de trabalho, e efici√™ncia nos processos de recursos humanos.

**Import√¢ncia para o departamento ESG e para a empresa**:
- **üîÑ Estabilidade Organizacional**: Alta taxa de rotatividade pode indicar problemas no ambiente de trabalho, falta de oportunidades de crescimento ou insatisfa√ß√£o com a lideran√ßa.
- **üìä Efici√™ncia Operacional**: Custos associados √† contrata√ß√£o e treinamento de novos funcion√°rios podem ser altos. Reduzir a rotatividade ajuda a diminuir esses custos.
- **üå± Sustentabilidade Social**: Empresas que mant√™m um ambiente de trabalho saud√°vel e satisfat√≥rio para seus funcion√°rios tendem a ser mais sustent√°veis a longo prazo.
- **üè¢ Reputa√ß√£o Corporativa**: Baixa rotatividade pode melhorar a imagem da empresa, tornando-a mais atraente para novos talentos e investidores.

### Query SQL para KPI

Vamos assumir que temos duas tabelas: `funcionarios` e `demissoes`.

- Tabela `funcionarios`:
  - `id`: ID do funcion√°rio
  - `data_admissao`: Data de admiss√£o do funcion√°rio
  - `data_demissao`: Data de demiss√£o do funcion√°rio (pode ser NULL se ainda estiver empregado)
  - `status`: Status do funcion√°rio (ativo ou demitido)

- Tabela `demissoes`:
  - `id`: ID do funcion√°rio
  - `data_demissao`: Data de demiss√£o do funcion√°rio

Para calcular a taxa de rotatividade anual, precisamos do n√∫mero de demiss√µes no ano e do n√∫mero m√©dio de funcion√°rios no ano.

Aqui est√° a query SQL para calcular a taxa de rotatividade anual, incluindo o uso de `date_trunc('year')` para medir o KPI de forma hist√≥rica:

```sql
WITH demissoes_anuais AS (
    SELECT
        date_trunc('year', data_demissao) AS ano,
        COUNT(*) AS total_demissoes
    FROM
        demissoes
    GROUP BY
        date_trunc('year', data_demissao)
),
funcionarios_atuais AS (
    SELECT
        date_trunc('year', COALESCE(data_demissao, current_date)) AS ano,
        COUNT(*) AS total_funcionarios
    FROM
        funcionarios
    WHERE
        (data_admissao <= date_trunc('year', current_date) AND (data_demissao IS NULL OR data_demissao > date_trunc('year', current_date)))
    GROUP BY
        date_trunc('year', COALESCE(data_demissao, current_date))
),
funcionarios_medio_anuais AS (
    SELECT
        f.ano,
        (f.total_funcionarios + COALESCE(d.total_demissoes, 0)) / 2 AS media_funcionarios
    FROM
        funcionarios_atuais f
        LEFT JOIN demissoes_anuais d ON f.ano = d.ano
)
SELECT
    d.ano,
    d.total_demissoes,
    f.media_funcionarios,
    (d.total_demissoes / f.media_funcionarios) * 100 AS turnover_rate
FROM
    demissoes_anuais d
    JOIN funcionarios_medio_anuais f ON d.ano = f.ano
ORDER BY
    d.ano;
```

### Explica√ß√£o da Query:

1. **CTE `demissoes_anuais`**:
   - Agrupa e conta o n√∫mero de demiss√µes por ano.

2. **CTE `funcionarios_atuais`**:
   - Conta o n√∫mero total de funcion√°rios no final de cada ano, considerando tanto os funcion√°rios ainda ativos quanto os que foram demitidos dentro do ano.

3. **CTE `funcionarios_medio_anuais`**:
   - Calcula o n√∫mero m√©dio de funcion√°rios no ano, considerando o n√∫mero de funcion√°rios no in√≠cio e no final do ano.
   - media_funcionarios: M√©dia de funcion√°rios no ano, calculada como a soma do n√∫mero total de funcion√°rios no in√≠cio do ano e o n√∫mero total de demiss√µes durante o ano, dividida por 2. Esta m√©dia ajuda a suavizar as varia√ß√µes e fornece uma base mais est√°vel para calcular a taxa de rotatividade.

4. **Sele√ß√£o Final**:
   - Junta as demiss√µes anuais com o n√∫mero m√©dio de funcion√°rios e calcula a taxa de rotatividade como a porcentagem de demiss√µes em rela√ß√£o ao n√∫mero m√©dio de funcion√°rios.

Esta query fornecer√° a taxa de rotatividade anual de funcion√°rios, permitindo que a empresa acompanhe e analise as tend√™ncias de reten√ß√£o de talentos ao longo do tempo.

# üìå **Investimento em Comunidade: Valor investido em projetos comunit√°rios e sociais**

**Descri√ß√£o**:
Este KPI mede o valor total investido pela empresa em projetos comunit√°rios e sociais. Ele inclui todos os gastos e investimentos destinados a apoiar e desenvolver as comunidades locais, seja atrav√©s de doa√ß√µes, patroc√≠nios, programas de voluntariado corporativo, entre outros.

**Import√¢ncia para o departamento ESG e para a empresa**:
- **üë• Impacto Social Positivo**: Investir em comunidades locais ajuda a melhorar a qualidade de vida das pessoas e promove o desenvolvimento social e econ√¥mico.
- **üåü Reputa√ß√£o e Marca**: Demonstrar um compromisso com a responsabilidade social pode melhorar a imagem da empresa e fortalecer sua marca.
- **üìà Conformidade Regulamentar**: Atender √†s expectativas e requisitos de responsabilidade social pode ser crucial para a conformidade com regulamentos e diretrizes ESG.
- **ü§ù Relacionamento com a Comunidade**: Investimentos em comunidade ajudam a construir relacionamentos positivos com stakeholders locais, incluindo governos, ONGs, e residentes.

### Query SQL para KPI

Vamos assumir que temos uma tabela `investimentos_comunidade` com os seguintes campos:
- `id`: ID do investimento
- `projeto`: Nome do projeto comunit√°rio
- `valor`: Valor investido no projeto
- `data_investimento`: Data em que o investimento foi realizado

Aqui est√° a query SQL para calcular o valor total investido em projetos comunit√°rios:

```sql
WITH investimentos_mensais AS (
    SELECT
        date_trunc('month', data_investimento) AS mes,
        COUNT(DISTINCT projeto) AS num_projetos_mensal,
        SUM(valor) AS total_investido_mensal,
        AVG(valor) AS media_investido_projeto_mensal
    FROM
        investimentos_comunidade
    GROUP BY
        date_trunc('month', data_investimento)
),
investimentos_anuais AS (
    SELECT
        date_trunc('year', data_investimento) AS ano,
        COUNT(DISTINCT projeto) AS num_projetos_anual,
        SUM(valor) AS total_investido_anual,
        AVG(valor) AS media_investido_projeto_anual
    FROM
        investimentos_comunidade
    GROUP BY
        date_trunc('year', data_investimento)
),
investimentos_completos AS (
    SELECT
        i.mes,
        i.num_projetos_mensal,
        i.total_investido_mensal,
        i.media_investido_projeto_mensal,
        a.num_projetos_anual,
        a.total_investido_anual,
        a.media_investido_projeto_anual,
        LAG(i.total_investido_mensal) OVER (ORDER BY i.mes) AS investimento_mes_anterior,
        LAG(a.total_investido_anual) OVER (ORDER BY a.ano) AS investimento_ano_anterior
    FROM
        investimentos_mensais i
        JOIN investimentos_anuais a ON date_trunc('year', i.mes) = a.ano
)
SELECT
    mes,
    num_projetos_mensal,
    total_investido_mensal,
    media_investido_projeto_mensal,
    num_projetos_anual,
    total_investido_anual,
    media_investido_projeto_anual,
    COALESCE(100 * (total_investido_mensal - investimento_mes_anterior) / investimento_mes_anterior, 0) AS pct_crescimento_mensal,
    COALESCE(100 * (total_investido_anual - investimento_ano_anterior) / investimento_ano_anterior, 0) AS pct_crescimento_anual
FROM
    investimentos_completos
ORDER BY
    mes;
```

### Explica√ß√£o da Query

1. **CTE `investimentos_mensais`**:
   - Calcula o n√∫mero de projetos, valor total investido e valor m√©dio investido por projeto, agregando por m√™s.

2. **CTE `investimentos_anuais`**:
   - Calcula o n√∫mero de projetos, valor total investido e valor m√©dio investido por projeto, agregando por ano.

3. **CTE `investimentos_completos`**:
   - Junta as informa√ß√µes mensais e anuais, adicionando colunas para o valor investido no m√™s anterior e no ano anterior.

4. **Sele√ß√£o Final**:
   - Calcula a compara√ß√£o percentual do investimento em rela√ß√£o ao m√™s e ano anterior, e seleciona todas as colunas para fornecer uma vis√£o detalhada dos investimentos.

# üìå **Sa√∫de e Seguran√ßa no Trabalho: N√∫mero de incidentes/acidentes de trabalho**

**Descri√ß√£o**:
Este KPI mede o n√∫mero de incidentes e acidentes de trabalho ocorridos em um determinado per√≠odo. Ele reflete a seguran√ßa do ambiente de trabalho e a efic√°cia das medidas de preven√ß√£o de acidentes implementadas pela empresa.

**Import√¢ncia para o departamento ESG e para a empresa**:
- **üîí Seguran√ßa dos Funcion√°rios**: Reduzir incidentes e acidentes √© crucial para garantir a seguran√ßa e o bem-estar dos funcion√°rios.
- **üí∞ Redu√ß√£o de Custos**: Menos acidentes resultam em menos custos relacionados a seguros, indeniza√ß√µes e perda de produtividade.
- **üìà Conformidade Regulamentar**: Atender √†s normas e regulamenta√ß√µes de seguran√ßa no trabalho evita multas e san√ß√µes.
- **üè¢ Reputa√ß√£o e Marca**: Empresas com um bom hist√≥rico de seguran√ßa no trabalho s√£o mais atraentes para talentos e investidores.

### Query SQL

Vamos assumir que temos uma tabela `incidentes_trabalho` com os seguintes campos:
- `id`: ID do incidente
- `tipo_incidente`: Tipo de incidente/acidente
- `data_incidente`: Data em que o incidente ocorreu
- `gravidade`: N√≠vel de gravidade do incidente (leve, moderado, grave)
- `custo`: Custo associado ao incidente

Aqui est√° a query SQL para calcular o n√∫mero de incidentes de trabalho:

```sql
WITH incidentes_mensais AS (
    SELECT
        date_trunc('month', data_incidente) AS mes,
        COUNT(DISTINCT id) AS total_incidentes_mensal,
        SUM(custo) AS total_custo_mensal,
        AVG(custo) AS media_custo_mensal
    FROM
        incidentes_trabalho
    GROUP BY
        date_trunc('month', data_incidente)
),
incidentes_anuais AS (
    SELECT
        date_trunc('year', data_incidente) AS ano,
        COUNT(DISTINCT id) AS total_incidentes_anual,
        SUM(custo) AS total_custo_anual,
        AVG(custo) AS media_custo_anual
    FROM
        incidentes_trabalho
    GROUP BY
        date_trunc('year', data_incidente)
),
incidentes_completos AS (
    SELECT
        i.mes,
        i.total_incidentes_mensal,
        i.total_custo_mensal,
        i.media_custo_mensal,
        a.total_incidentes_anual,
        a.total_custo_anual,
        a.media_custo_anual,
        LAG(i.total_incidentes_mensal) OVER (ORDER BY i.mes) AS incidentes_mes_anterior,
        LAG(a.total_incidentes_anual) OVER (ORDER BY a.ano) AS incidentes_ano_anterior,
        LAG(i.total_custo_mensal) OVER (ORDER BY i.mes) AS custo_mes_anterior,
        LAG(a.total_custo_anual) OVER (ORDER BY a.ano) AS custo_ano_anterior
    FROM
        incidentes_mensais i
        JOIN incidentes_anuais a ON date_trunc('year', i.mes) = a.ano
)
SELECT
    mes,
    total_incidentes_mensal,
    total_custo_mensal,
    media_custo_mensal,
    total_incidentes_anual,
    total_custo_anual,
    media_custo_anual,
    COALESCE(100 * (total_incidentes_mensal - incidentes_mes_anterior) / incidentes_mes_anterior, 0) AS pct_crescimento_incidentes_mensal,
    COALESCE(100 * (total_incidentes_anual - incidentes_ano_anterior) / incidentes_ano_anterior, 0) AS pct_crescimento_incidentes_anual,
    COALESCE(100 * (total_custo_mensal - custo_mes_anterior) / custo_mes_anterior, 0) AS pct_crescimento_custo_mensal,
    COALESCE(100 * (total_custo_anual - custo_ano_anterior) / custo_ano_anterior, 0) AS pct_crescimento_custo_anual
FROM
    incidentes_completos
ORDER BY
    mes;
```

### Explica√ß√£o da Query

1. **CTE `incidentes_mensais`**:
   - Calcula o n√∫mero total de incidentes, o custo total, e o custo m√©dio por incidente, agregando por m√™s.

2. **CTE `incidentes_anuais`**:
   - Calcula o n√∫mero total de incidentes, o custo total, e o custo m√©dio por incidente, agregando por ano.

3. **CTE `incidentes_completos`**:
   - Junta as informa√ß√µes mensais e anuais, adicionando colunas para o n√∫mero de incidentes e o custo total no m√™s e no ano anterior.

4. **Sele√ß√£o Final**:
   - Calcula a compara√ß√£o percentual do n√∫mero de incidentes e do custo total em rela√ß√£o ao m√™s e ano anterior, e seleciona todas as colunas para fornecer uma vis√£o detalhada dos incidentes de trabalho.

# üìå **Diversidade e Inclus√£o: Percentual de diversidade no local de trabalho (g√™nero, etnia, etc.)**

**Descri√ß√£o**:
Este KPI mede o percentual de diversidade no local de trabalho, levando em considera√ß√£o diferentes aspectos como g√™nero, etnia, e outros indicadores de diversidade. Ele reflete o compromisso da empresa com a cria√ß√£o de um ambiente inclusivo e diversificado.

**Import√¢ncia para o departamento ESG e para a empresa**:
- **üë• Inclus√£o e Igualdade**: Promover a diversidade no local de trabalho pode contribuir para um ambiente com mais oportunidades para todos os funcion√°rios.
- **üìà Desempenho Organizacional**: Equipes com perspectivas diversas tendem a ser mais inovadoras e perform√°ticas.
- **üå± Sustentabilidade Social**: A diversidade √© um componente importante da sustentabilidade social e ajuda a empresa a cumprir diretrizes sociais e regulat√≥rias.
- **üè¢ Reputa√ß√£o e Marca**: Empresas que promovem a diversidade e inclus√£o podem melhorar sua reputa√ß√£o e atrair talentos de alta qualidade.

### Query SQL

Vamos assumir que temos uma tabela `funcionarios` com os seguintes campos:
- `id`: ID do funcion√°rio
- `genero`: G√™nero do funcion√°rio
- `etnia`: Etnia do funcion√°rio
- `data_admissao`: Data de admiss√£o do funcion√°rio
- `data_demissao`: Data de demiss√£o do funcion√°rio (pode ser NULL se ainda estiver empregado)

Para calcular o percentual de diversidade, precisamos agrupar os dados por g√™nero e etnia e calcular o percentual de cada grupo em rela√ß√£o ao total de funcion√°rios.

Aqui est√° a query SQL para calcular o percentual de diversidade por g√™nero e etnia:

```sql
WITH funcionarios_ativos AS (
    SELECT
        id,
        genero,
        etnia,
        date_trunc('month', data_admissao) AS mes,
        date_trunc('year', data_admissao) AS ano
    FROM
        funcionarios
    WHERE
        data_demissao IS NULL OR data_demissao > current_date
),
diversidade_mensal AS (
    SELECT
        mes,
        genero,
        etnia,
        COUNT(*) AS total_genero_etnia,
        (SELECT COUNT(*) FROM funcionarios_ativos WHERE mes = f.mes) AS total_funcionarios
    FROM
        funcionarios_ativos f
    GROUP BY
        mes, genero, etnia
),
diversidade_anual AS (
    SELECT
        ano,
        genero,
        etnia,
        COUNT(*) AS total_genero_etnia,
        (SELECT COUNT(*) FROM funcionarios_ativos WHERE ano = f.ano) AS total_funcionarios
    FROM
        funcionarios_ativos f
    GROUP BY
        ano, genero, etnia
)
SELECT
    d.mes,
    d.genero,
    d.etnia,
    d.total_genero_etnia,
    d.total_funcionarios,
    (d.total_genero_etnia::float / d.total_funcionarios) * 100 AS pct_diversidade_mensal,
    a.ano,
    a.total_genero_etnia AS total_genero_etnia_anual,
    a.total_funcionarios AS total_funcionarios_anual,
    (a.total_genero_etnia::float / a.total_funcionarios) * 100 AS pct_diversidade_anual
FROM
    diversidade_mensal d
    JOIN diversidade_anual a ON d.genero = a.genero AND d.etnia = a.etnia AND date_trunc('year', d.mes) = a.ano
ORDER BY
    d.mes, d.genero, d.etnia;
```

### Explica√ß√£o da Query

1. **CTE `funcionarios_ativos`**:
   - Seleciona os funcion√°rios ativos (aqueles que n√£o foram demitidos ou cuja data de demiss√£o √© posterior √† data atual) e agrupa por m√™s e ano de admiss√£o.

2. **CTE `diversidade_mensal`**:
   - Agrupa os funcion√°rios ativos por m√™s, g√™nero e etnia, calculando o n√∫mero total de funcion√°rios por g√™nero e etnia, e o total geral de funcion√°rios no m√™s.

3. **CTE `diversidade_anual`**:
   - Agrupa os funcion√°rios ativos por ano, g√™nero e etnia, calculando o n√∫mero total de funcion√°rios por g√™nero e etnia, e o total geral de funcion√°rios no ano.

4. **Sele√ß√£o Final**:
   - Junta os dados mensais e anuais, calcula os percentuais de diversidade mensal e anual por g√™nero e etnia, e seleciona todas as colunas para fornecer uma vis√£o detalhada da diversidade no local de trabalho.

# üìå **√çndice de Satisfa√ß√£o dos Funcion√°rios**

**Descri√ß√£o**:
Este KPI mede o √≠ndice de satisfa√ß√£o dos funcion√°rios com base em resultados de pesquisas internas. Ele reflete o n√≠vel de contentamento e engajamento dos funcion√°rios em rela√ß√£o ao ambiente de trabalho, condi√ß√µes de trabalho, lideran√ßa, oportunidades de crescimento e outros fatores importantes.

**Import√¢ncia para o departamento ESG e para a empresa**:
- **üåü Bem-estar dos Funcion√°rios**: Funcion√°rios satisfeitos tendem a ser mais produtivos, engajados e leais √† empresa.
- **üìà Desempenho Organizacional**: Altos n√≠veis de satisfa√ß√£o podem levar a melhores resultados de neg√≥cios, menor rotatividade e maior inova√ß√£o.
- **üå± Sustentabilidade Social**: Promover um ambiente de trabalho positivo e satisfat√≥rio contribui para a sustentabilidade social da empresa.
- **üè¢ Reputa√ß√£o e Marca**: Empresas conhecidas por cuidar bem de seus funcion√°rios atraem melhores talentos e t√™m uma reputa√ß√£o mais forte no mercado.

### Query SQL:

Vamos assumir que temos uma tabela `pesquisas_satisfacao` com os seguintes campos:
- `id`: ID da pesquisa
- `funcionario_id`: ID do funcion√°rio
- `data_pesquisa`: Data em que a pesquisa foi realizada
- `satisfacao`: √çndice de satisfa√ß√£o do funcion√°rio (escala de 1 a 10)

Para calcular o √≠ndice de satisfa√ß√£o dos funcion√°rios, agregamos os resultados das pesquisas por m√™s e por ano.

Aqui est√° a query SQL para calcular o √≠ndice de satisfa√ß√£o dos funcion√°rios:

```sql
WITH pesquisas_mensais AS (
    SELECT
        date_trunc('month', data_pesquisa) AS mes,
        AVG(satisfacao) AS media_satisfacao_mensal
    FROM
        pesquisas_satisfacao
    GROUP BY
        date_trunc('month', data_pesquisa)
),
pesquisas_anuais AS (
    SELECT
        date_trunc('year', data_pesquisa) AS ano,
        AVG(satisfacao) AS media_satisfacao_anual
    FROM
        pesquisas_satisfacao
    GROUP BY
        date_trunc('year', data_pesquisa)
)
SELECT
    p.mes,
    p.media_satisfacao_mensal,
    a.media_satisfacao_anual
FROM
    pesquisas_mensais p
    JOIN pesquisas_anuais a ON date_trunc('year', p.mes) = a.ano
ORDER BY
    p.mes;
```

### Explica√ß√£o da Query:

1. **CTE `pesquisas_mensais`**:
   - Agrupa os resultados das pesquisas por m√™s e calcula a m√©dia mensal de satisfa√ß√£o.

2. **CTE `pesquisas_anuais`**:
   - Agrupa os resultados das pesquisas por ano e calcula a m√©dia anual de satisfa√ß√£o.

3. **Sele√ß√£o Final**:
   - Junta as m√©dias mensais e anuais de satisfa√ß√£o, permitindo a compara√ß√£o e an√°lise dos √≠ndices ao longo do tempo.